<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
      <!--数据库链接配置,如果是读写分离，这些地方可以配置多个服务器-->
    <add key="MongoDB_Host" value="192.168.0.10"/>
    <add key="MongoDB_Root" value="27017"/>
    <add key="MongoDB_DbName" value="CengFeng"/>
    <add key="MongoDB_UserName" value=""/>
    <add key="MongoDB_Password" value=""/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.5.1"/>
    <!--<httpRuntime requestValidationMode="2.0" targetFramework="4.5"/>-->
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>